# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp

# dependencies
/node_modules
/vendor
/bower_components
.yarn

# misc
coverage.json
package-lock.json
/.sass-cache
/connect.lock
/libpeerconnection.log
/coverage/*
npm-debug.log
testem.log
.DS_Store
.env
.vscode
jsconfig.json
yarn-error.log
